body {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square, .square2 {
    width: auto;
    height: auto;
}

.square {
    background-color: white;
}

.square2 {
    background-color: black;
}

#grid {
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
}